.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header img {
  margin-bottom: -3rem;
  width: 18rem;
}
.header h1 {
  opacity: 0.1;
  background: linear-gradient(0deg, white, var(--color-main));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-size: 6rem;
  font-weight: 900;
}
